html{
  font-size: 18px;
}
body{
  font-family: helvetica;
  color: white;
}
.sitecontainer{
  display: flex;
  width:960px;
  margin: 0 auto;
}
header{
  background-color: black;
  width:100%;
  display: flex;
  justify-content: center;
}
header .sitecontainer{
  align-items: center;
  justify-content: flex-start;
}
header .sitecontainer img{
  height: 1.5rem;
  margin-left: 0.5rem;
  margin-right: 1rem;
}
header .sitecontainer p{
  margin-top:0.66rem;
  margin-bottom:0.66rem;
}
nav{
  background-color: firebrick;
  display: flex;
  justify-content: center;
  margin-bottom:3rem;
}
nav p{
  margin-top: 0.75rem;
  margin-bottom:0.75rem;
}
nav .sitecontainer span{
  display:none;
}
nav .sitecontainer{
  justify-content: space-between;
  align-self: flex-end;
}
.top{
  width: 100%;
  background-image: url("./images/moto.jpeg");
  background-size: cover;
  height:27.82rem;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}
.block{
  width: 25rem;
  height:9.5rem;
  margin-top: 9rem;
  background-color: black;
  font-weight: bold;
}
.block h2{
  font-size: 2rem;
  margin-left: 3rem;
}
.block p{
  margin-top: 2rem;
  margin-left: 3rem;
  margin-bottom: 0.25rem;
}
.items .sitecontainer{
  justify-content: space-between;
}
.items .itemcontainer img{
  height:9rem;
  margin-top: 2rem;
  margin-bottom:2rem;
  max-width: 100%;
}
.items .itemcontainerglasses{
  width: 30%;
  border: 4px solid black;
  display: flex;
  flex-direction:column;
  justify-content: center;
}
.items .itemcontainerglasses img{
  height:9rem;
  margin-top: 2rem;
  margin-bottom:2rem;
  max-width: 50%;
  max-height: 40%;
}
.items .itemcontainerglasses .imagecontainer{
  display: flex;
  justify-content: center;
  align-items: center;
}
.items .itemcontainerwatch{
  width: 30%;
  border: 4px solid black;
  display: flex;
  flex-direction:column;
  justify-content: center;
}
.items .itemcontainerwatch img{
  height:9rem;
  margin-top: 2rem;
  margin-bottom:2rem;
  max-width: 50%;
  max-height: 40%;
}
.items .itemcontainerwatch .imagecontainer{
  display: flex;
  justify-content: center;
  align-items: center;
}
.items .itemcontainer{
  width: 30%;
  border: 4px solid black;
  display: flex;
  flex-direction:column;
}
.items .itemcontainer img{
  height:9rem;
  margin-top: 2rem;
  margin-bottom:2rem;
  max-width: 50%;
}
.items .itemcontainer{
  width: 30%;
  border: 4px solid black;
  display: flex;
  flex-direction:column;
}
.items .itemcontainer .imagecontainer{
  display: flex;
  justify-content: center;
}
.title{
  background-color: black;
  height:2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top:0;
}
.infobox{
  display: flex;
  flex-direction: column;
  width:35%;
}
.infoboxtop{
  height: 3rem;
  background-color: black;
  display:flex;
  justify-content: center;
  align-items: center;
}
.info .sitecontainer{
  justify-content: space-between;
}
.info{
  margin-top: 3rem;
}
footer{
  height: 5rem;
  background-color: black;
  display: flex;
  align-items: center;
  margin-top:4rem;
}
@media only screen and (max-width: 1024px){
  .items .itemcontainerglasses{
    display:none;
  }
  .items .itemcontainer{
    width: 47%;
  }
  .sitecontainer{
    width: 100%;
  }
  nav .sitecontainer span{
    display: block;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
  }
  nav .sitecontainer p{
    display:none;
  }
  nav .sitecontainer{
      justify-content: center;
  }
}
@media only screen and (max-width: 470px){
    header{
    margin-bottom: 10rem;
  }
    .block h2{
     font-size: 1rem;
     font-weight: bold;
     margin-left: 2rem;
    }
    .block p{
     margin-left: 2rem;
     margin-top: 1rem;
     font-size: 0.77rem;
     font-weight: bold;
  }
  .sitecontainer{
    width: 100%;
  }
  .items .itemcontainerwatch{
    display:none;
  }
}
